<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span>Encuestas</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-ex-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Principal</a>
        </li>
        <li>
          <a href="/encuestas">Encuestas</a>
        </li>
        <li class="active">
          <a href="#">Contactos</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/crearUsuario">Registro</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Equipo de trabajo</h1>
        <p class="text-center">Escribenos</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive">
      </div>
      <div class="col-md-4">
        <h3 class="text-left">Alexandra Granda</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
      </div>
      <div class="col-md-2">
        <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive">
      </div>
      <div class="col-md-4">
        <h3 class="text-left">Luis Reinoso</h3>
        <p class="text-left">Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.</p>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-3 text-center">
        <a>
          <i class="fa fa-5x fa-fw fa-instagram"></i>
        </a>
      </div>
      <div class="col-xs-3">
        <a>
          <i class="fa fa-5x fa-fw fa-twitter"></i>
        </a>
      </div>
      <div class="col-xs-3">
        <a>
          <i class="fa fa-5x fa-fw fa-facebook"></i>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a>
          <i class="fa fa-5x fa-fw fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</div>
