<body>
<h1>Crear Usuario</h1>
<form action="/Usuario/crearUsuario" method="get">
  <div class="form-group row">
    <label for="nombres" class="col-2 col-form-label">Nombres</label>
    <div class="col-10">
      <input class="form-control" type="text" id="nombres" placeholder="Ingrese sus nombres"
             name="nombres">
    </div>
  </div>

  <div class="form-group row">
    <label for="apellidos" class="col-2 col-form-label">Apellidos</label>
    <div class="col-10">
      <input class="form-control" type="text" id="apellidos" placeholder="Ingrese sus apellidos"
             name="apellidos">
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-2 col-form-label">Email</label>
    <div class="col-10">
      <input class="form-control" type="email" placeholder="Ingrese su email" id="example-email-input"
             name="correo">
    </div>
  </div>


  <div class="form-group row">
    <label for="password" class="col-2 col-form-label">Password</label>
    <div class="col-10">
      <input class="form-control" type="password" placeholder="Ingrese su contrasenia" id="example-password-input"
             name="password">
    </div>
  </div>


  <div class="form-group row">
    <label for="example-date-input" class="col-2 col-form-label">Date</label>
    <div class="col-10">
      <input class="form-control" type="date" value="2011-08-19" id="example-date-input"
             name="fechaNacimiento">
    </div>

    <button type="reset" class="btn btn-outline-secondary">Reset</button>
    <button type="submit" class="btn btn-outline-success">Crear</button>
    <button class="btn btn-outline-warning">Nada</button>
  </div>
</form>
</body>

